body {
  background: rgb(54,54,54);
  padding: 3% 0;
}
#container {
  display: inline-block;
  margin: 1rem;
  margin-top: 16.7rem; /*change for size*/
}
#straw {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  background-color: #ff6b6b;
  height: 4rem;
  width: 2.5rem;
  margin-left: 12rem;
}
#straw::before {
  content: '';
  border-radius: .3rem;
  background-color: #ffa1a1;
  height: 3.6rem;
  width: .4rem;
  margin:  .2rem 1.8rem;
  position: absolute;
}
#lid {
  background-color: #d9d9d9;
  height: 1.5rem;
  width: 16.8rem;
  border-radius: .6rem;
}
#lid::before {
  content: '';
  background-color: #ffffff;
  height: 1.5rem;
  width: 12rem;
  border-radius: .6rem;
  position: absolute;
}
:root {
  --tapioca: ;
  --matcha: rgb(184,225,152);
  --matcha-gradient: linear-gradient(180deg, rgba(184,225,152,1) 54%, rgba(134,169,83,1) 100%);
  --brown-sugar: rgb(209,158,79);
  --brown-sugar-gradient: linear-gradient(0deg, rgba(209,158,79,1) 0%, rgba(246,235,222,1) 100%);
}
#cup {
  padding: 3rem .5rem .5rem .5rem;
  margin: 0 .5rem;
  background: var(--tea);
  background: var(--tea-gradient);
  width: 14rem;
  height: 14rem; /*change for size*/
  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  border: .3rem solid #ffffff;
  border-top: none;
  position: absolute;
  background-clip: content-box; /* support: IE9+ */
}
.brim {
  background-color: var(--tea);
  width: 14rem;
  height: 2rem;
  margin-top: -1rem;
  border-radius: .6rem;
  position: relative;
}
#cup div > span > div {
  display: inline-block;
  margin: .2rem;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  background-color: var(--tapioca);
}
#bot {
  margin-top: 7rem; /*change for size*/
}
#spacer {
  margin: .5em;
}
#spacer2 {
  margin: 1.6em;
}
#top {
  height: 40rem;
  width: 50%;
  margin: 0 auto;
}
#floor {
  margin: 0 10% 0 20%;
  width: 70%;
  background-color: #ffffff;
  height: .5rem;
  border-radius: 3rem;
}
#floor::before {
  content: '';
  position: absolute;
  background: inherit;
  width: 7%;
  margin-left: -10%;
  height: .5rem;
  border-radius: 3rem;
}
.menu {
  display: inline-block;
  margin: 2rem 4rem;
  height: 30rem;
  width: 35rem;
  border-radius: .5rem;
  border: .5rem solid #5e5e5e;
  position: absolute;
}
p {
  height: 1.5rem;
  width: 1.5rem;
  margin: 1rem;
  border-radius: .3rem;
  border: .3rem solid #5e5e5e;
  cursor: pointer;
}
